* {
    margin: 0;
    padding: 0;
    font-family: "OpenSans-Light" Helvetica;
}
@font-face{
	font-family: OpenSans-Regular;
	src: url(../fonts/Open/OpenSans-Regular.ttf);
}
@font-face{
	font-family: OpenSans-Light;
	src: url(../fonts/Open/OpenSans-Light.ttf);
}
@font-face{
	font-family: OpenSans-Bold;
	src: url(../fonts/Open/OpenSans-Bold.ttf);
}
.wrapper {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.navbar {
    width: 1160px;
    height: 100px;
    color: #dcd1d1;
    margin: 0px;
    padding: 20px;
    display: inline-block;
}
    .navbar img {
        width: 100px;
        height: 100px;
    }
    .navbar-right {
        width: 500px;
        height: 60px;
        vertical-align: top;
        margin-top: 30px;
        margin-left: 400px;
        display: inline-block;
        font-size: 20px;
       
    }

        .navbar a {
            text-decoration: none;
            color: rgb(83, 88, 95);
        }
               
    .head {
        width: 1200px;
        margin: 0px;
        padding: 0px;
        background-color: rgb(244, 247, 250);
        vertical-align: top;
    }
        .head img {
            width: 1200px;
            height: 350px;
           
        }
        .head-botton {
            margin: 0px;
            padding: 50px 200px 50px 200px;
            vertical-align: top;
            text-align: center; 
        }
        .main {
            width: 1200px;
            margin: 0px;
            padding: 0px;
            
        }

            .main-1 {
                width: 537px;
                padding: 30px;
                display: inline-block;
                background-color: white;
                text-align: center;
            } 

                .main-1 img {
                    width: 160px;
                    height: 160px;
                    padding: 10px 0px 10px 0px;
                    vertical-align: middle;
                }
                .main-1 h2 {
                    padding: 10px 0px 10px 0px;
                }
                .main-1 p {
                    padding: 10px 0px 10px 0px;
                }
        .main-center-2 {
            width: 1200px;
            height: 400px;
            margin: 0px;
            background-color: #3e704d;
        }
            
            .main-2 {
                    width: 600px;
                    height: 400px;
                    display: inline-block;
                    vertical-align: top;
            } 
        
            .main-2 img {
                width: 600px;
                height: 400px;
                margin: 0px;
            } 
            .main-3 {
                width: 556px;
                height: 360px;
                margin: 0px;
                padding: 20px;
                display: inline-block;
                text-align: center;
                vertical-align: top;
                color: white
            }
                .main-3 img {
                    width: 60px;
                    height: 60px;
                    padding: 30px 0px 20px 0px;
                }
                .main-3 h2 {
                    padding: 30px 0px 20px 0px;
                    
                }
                .main-3 p {
                    padding: 20px 0px 20px 0px;
                }
    .main-center {
        width: 1158px;
        background-color: white;
        text-align: center;
        padding: 20px;
        margin: 0px;
    } 
        .main-center p {
            padding: 40px;
        }
        .main-center h3{
            /* padding-top: 10px; */
            color: #5E8039;
        }
    .servicios {
        width: 300px;
        vertical-align: top;
        display: inline-block;
        margin: 10px;
        padding: 5px;
        text-align: center;
    }
        .servicios img {
            padding: 5px;
        }
        .servicios h1 {
            color: #5E8039;
        }
       
    .main-4 {
        width: 1060px;
        background-color: #5E8039;
        color: white;
        padding: 20px 40px 20px 100px;
    }
        .main-4 h2 {
            text-align: center;
            padding: 20px;
        }
        .proyectos {
            width: 480px;
            height: 400px;
            display: inline-block;
            text-align: top;
            vertical-align: top;
            margin: 0px;
        }
        .proyectos img {
            width: 470px;
            height: 340px;
            padding: 0px;
            vertical-align: right;
        }

        .proyectos h2 {
            text-align: left;
            padding: 15px 5px 5px 0px;
           
        }
        .proyectos h3 {
            padding: 5px 5px 5px 0px;

        }
        .proyectos p {
            padding: 20px 0px 5px 0px;
        }
        .main-5 {
            width: 1118px;
            background-color: white;
            margin: 0px;
            padding: 10px 40px 10px 40px;
        }
            .main-5 h2 {
                color: #5E8039;
                text-align: center;
                padding: 20px top;
            }
            .row {
                width: 400px;
                display: inline-block;
                padding: 0px 20px 5px 20px;
                margin: 0px 50px 0px 50px;
            }
            .equipo {
                width: 350px;
                display: inline-block;
                margin: 10px 30px 10px 30px;
                text-align: center;
            }
                .equipo img {
                    width: 250px;
                    height: 250px;
                    border-radius: 300px;
                }
                .equipo h2 {
                    padding: 50px 0px 20px 0px;
                    text-align: center;
                    color: black;
                    
                }
                .equipo h4 {
                    padding: auto;
                    text-align: center;
                }
                .redes-sociales {
                    width: 350px;
                    padding: 10px 100px 10px 100px;
                    display: inline-block;
                 }
                .redes-sociales ul {
                    list-style: none;
                }
                .redes-sociales li {
                    display: inline;
                }
                .redes-sociales img {
                    width: 40px;
                    height: 40px;
                    
                    
                }
        .banner {
            width: 1200px;
            height: 420px;
            margin: 0px;
            padding: 0px;
            background-image: url("/img/fondo2.jpg");
        }
            .banner span {
                margin-top: 20px;
                margin-left: 550px;
            }
        .blog {
            padding: 40px 50px 40px 80px;
            vertical-align: center;

        }
            .blog h1 {
                margin: 10px;
                padding-left: 600px;
                padding-top: 15px;
                                    
            }
            .slider {
                width: 50px;
                height: 180px;
                display: inline-block;
                vertical-align: bottom;
            }
                .slider img {
                    width: 50px;
                    height: 50px;
                }
            
            .titulos {
                width: 300px;
                display: inline-block;
                color: rgb(83, 88, 95);
            }
                .titulos h2 {
                    text-align: left;

                }

                .titulos img {
                    width: 280px;
                    height: 180px;
                }
                .titulos-1 {
                width: 300px;
                display: inline-block;
                color: #5E8039;
            }
                .titulos-1 h2 {
                    text-align: left;
                }

                .titulos-1 img {
                    width: 280px;
                    height: 180px;
                }
    .fotter-top {
        width: 1100px;
        height: 280px;
        padding: 50px 50px 20px 50px;
        background-color:#4D4D4D;
                
    }
    .caja {
            width: 230px;
            height: 230px;
            display: inline-block;
            color: white;
            border-style: solid;
            border-width: 1px;
            padding: 10px;
                        
        }
            .caja li {
                display: inline;
            }  
            .caja h2 {
                display: inline; 
                margin: 10px;
            }
            .caja img {
                width: 50px;
                height: 50px;
                display: inline;
                margin: 10px;
            } 
    .fotter-botton {
        width: 1200px;
        height: 150px;
    }

        .caja-left {
            width: 250px;
            height: 100px;
            margin-top: 20px;
            margin-left: 20px; 
            color: rgb(83, 88, 95);
            display: inline-block;
        }
            .caja-left span {
            color: #fac60e;
        }
        .caja-right {
            width: 250px;
            height: 100px;
            margin-top: 50px;
            margin-left: 500px;
            color: rgb(57, 59, 61);
            display: inline-block;
        }
            .caja-right span {
            color: rgb(70, 73, 79);
            }

            

           